<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
    <script src="./lib/vue.js"></script>
</head>
<style>
    .class1 {
        background: #444;
        color: #eee;
    }
</style>

<body>

    <div id="app">
        <label for="r1">修改颜色</label><input type="checkbox" v-model="use" id="r1">
        <br><br>
        <div v-bind:class="{'class1': use}">
            v-bind:class 指令
        </div>
        <hr>
        <input :placeholder="inp">
        <hr>
        <p>{{msg}}</p>
        <input v-model="msg">
    </div>

    <script>
        
        var v = new Vue({
            el: '#app',
            data: {
                use: true,
                inp: "请输入数据",
                msg: 'test'
            }
        });
    </script>

</body>
<!-- 在这里 href 是参数，告知 v-bind 指令将该元素的 href 属性与表达式 url 的值绑定 -->
